/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header{
  background-color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* ----------------- Navbar styles ------------------- */
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

/* ---------------------- other styles ----------------- */

.white-transparent-background{
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 5vh;
  margin-bottom: 15vh;
  border-radius: 10px;
}

.col-centered {
    float:none;
    margin: 0 auto;
}

.text-align-middle{
  text-align: center;
}

.text-align-justify{
  text-align: justify;
}

p{
  font-size: 16px;
}
div.hotel-room-div img{
  object-fit: contain;;
  width: 100%;
}

.room-div{
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right:10px;
  background-color: rgba(0,100,200,0.4);

}

.room-image-small{
  width: 15vw;
  height: 10vw;
}

.room-image-small img{
  object-fit: contain;
  width: 100%;
}


